<%= form_for(@prayer) do |f| %>
  <div class="form-group">
    <%= f.label 'Update Prayer' %><br>
      <%= f.text_area :content, class: 'form-control', autofocus: true, 
          placeholder: 'Type your prayer here' %>
  </div>
  <%= f.submit :prayer, class: 'btn btn-primary'%>
<% end %>
